//Colors
$primary-color: #000;
$secondary-color: #fff;

//Fonts
$primary-font: 'Arial', sans-serif;
$secondary-font: 'Verdana', sans-serif;

//Sizes
$container_width: 1440px;

//Additional variables
$transition-duration: 0.5s;